.squareAspect {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
.avatar {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    object-position: center center;
    max-width: 100%;
    height: 100%;
}