.chat {
    width: 150px;
    border-radius: .25rem;
}

.chat-header {
    padding: 2px;
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat-header span {
    flex-grow: 1;
}
.chat-header button {
    align-self: flex-end;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.chat-body {
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 14px;
}

.chat-form {
    align-self: end;
    display: flex;
}

.chat-form input {
    padding: 2px;
    max-width: 75%;
    font-size: 14px;
}
.chat-form button {
    padding: 2px;
    width: 25%;
    font-size: 12px;
}

.chat-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}