.friendName {
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    height: 100%;
    display: flex;
    align-items: center;
}

.friend:hover {
    background-color: #efefef;
}