.chat-message {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    display: block;
    max-width: 80%;
}

.receiver {
    background-color: hsl(183, 1%, 98%);
    align-self: start;
}

.sender {
    background-color: #dbf9ff;
    align-self: end;
}